# Lando
.lando/

# Dependencies
/vendor/
/node_modules/

# Drupal
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/settings.local.php

# IDE
.vscode/
.idea/
*.swp
.DS_Store
/.editorconfig
/.gitattributes